<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Fantasy-based series with plot based on seven kingdoms and race to win the iron throne.Its dotted with various grey-shaded characters with best-direction ever!
  </body>
</html>
